:root {
    --container-width: 1440px;
    --primary-background: #000000;
    --primary-color: #e5e5e5;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-color);
    /*cursor: url("../assets/images/cursor.png"), auto;*/
    margin: 0 auto;
}

section {
    border-top: 1px solid rgba(255,255,255,0.1);
}

.header {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0);
    transition: 0.8s ease-in-out;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 15px;
    /*width: 100%;*/
}

.header .logo {
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-decoration: unset;
}

.header .header-menu ul {
    align-items: center;
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header .header-menu ul li a {
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-decoration: unset;
}
.header .header-menu ul li a:after {
    background-color: var(--primary-color);
    bottom: -4px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: 0.5s ease-in;
    width: 0;
}

.header .header-menu ul li a:hover:after {
    width: 100%;
}

.footer {
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.1);
    transition: 0.8s ease-in-out;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}

.footer .logo {
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-decoration: unset;
}

.container {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--container-width);
    padding-left: 15px;
    padding-right: 15px;
    /*width: 100%;*/
}

#photo-section .photo, #photo-section .job-title {
    width: calc(100% / 2 - 25px);
}
#photo-section .job-title {
    align-items: center;
    display: flex;
}

#photo-section .photo img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    #photo-section .photo, #photo-section .job-title {
        width: 100%;
    }
}